# Credential locations
.credentials/gmail-secret-file.json
.credentials/gmail-python-email-send.json
.credentials/jellyfin-credentials.json

# User information files
configuration/info.json
configuration/info.remote.json

# Undesirable files
lastOutput.log
output.log
pythonEnvironment
__pycache__
.DS_Store
.legacy
