# Credential locations
.credentials/gmail-secret-file.json
.credentials/gmail-python-email-send.json
.credentials/jellyfin-credentials.json

# User information & configuration files
configuration/environment.properties
configuration/info.json
configuration/info.remote.json

# Undesirable files
.vscode
lastOutput.log
output.log
pythonEnvironment
__pycache__
.DS_Store
.legacy
